body {
  background-color: #dde0e3;
  color: rgb(13, 12, 12);
  font-family: sans-serif;
  text-align: justify;
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 80px;
}
table,
th,
td {
  border: 0.5px solid grey;
}

#myChartId978111,
#myChartId978112,
#myChartId978113,
#myChartId978114 {
  background-color: #0faef2;
}
