body {
  background-color: #02152a;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
table,
th,
td {
  border: 0.5px solid grey;
}

.center {
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 80px;
}

#myChartId978111,
#myChartId978112,
#myChartId978113,
#myChartId978114 {
  background-color: #0faef2;
}
